* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: valentine;
  src: url('./Fonts/honeyValentine.ttf')
}

@font-face {
  font-family: halloween;
  src: url('./Fonts/octoberCrow.ttf')
}

@font-face {
  font-family: thanksgiving;
  src: url('./Fonts/FallHarvest.ttf')
}

@font-face {
  font-family: christmas;
  src: url('./Fonts/Christmas.ttf')
}

.holidayParticles {
  background-color: black;
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  color: white;
  -webkit-text-stroke: 0.25px black;

}

.Christmas,
.Halloween,
.Thanksgiving,
.Valentines,
.Independence {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Christmas {
  background-image: url('./Photos/hotCocoa.jpg');
  font-family: christmas;
  color: red;
  text-shadow: 0 0px 20px #ffffff;
}

.Halloween {
  background-image: url('./Photos/moonWitch1.jpg');
  font-family: halloween;
  color: rgb(221, 255, 0);
  /* color: orange; */
  text-shadow: 0 0px 20px black;
}

.Thanksgiving {
  background-image: url('./Photos/thanksgiving1.jpg');
  font-family: thanksgiving;
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 20px rgb(107, 16, 16);
}
.Valentines {
  background-image: url('./Photos/valentineHearts.jpg');
  font-family: valentine;
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 10px darkred;
}
.Independence {
  background-image: url('./Photos/julyFirework.jpg');
  /* font-family: valentine; */
  color: red;
  text-shadow: 0 0px 10px white;
}

.backgroundParticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  color: white;
  /* background-color: #000000aa; */
  position: relative;
  border: 2px solid red;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  gap: 4vh;
  /* flex: 1; */
  height: 12vh;
}

.doorImage {
  border: 2px solid black;
  height: 10vh;
  width: auto;
  box-shadow: 0 0 10px black;
}






.clock {
  border: 2px solid magenta;
  /* color: white; */
  display: flex;
  flex-flow: column nowrap;
  /* flex: 1; */
  height: 75vh;
  margin-top: 3vh;
  /* margin-left: 5vw; */
  /* padding-top: 15vh; */
  /* justify-content: center; */
  align-items: flex-start;
  /* z-index: 1; */

}

.holidayTitle {
  border: 2px solid blue;
  width: 100%;
  height: 20vh;
  font-size: 12vh;
  text-align: center;
}

.clockDisplay {
  border: 2px solid green;
  margin: 5vh 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.timeBlock {
  border: 2px solid orange;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.unit {
  /* border: 2px solid red; */
  width: 80%;
  text-align: center;
  font-size: 7vh;

  background: radial-gradient(white, 
  #fff, 35%, #ffffffcc, 55%, 
  #ffffff99, 75%, #ffffff66, 85%, 
  #ffffff33, 95%, #ffffff11, 96%,
  #ffffff01);
  /* box-shadow: 0 0 10px white; */

}

.time {
  /* border: 2px solid white; */
  width: 75%;
  height: auto;
  text-align: center;
  font-size: 12vh;
  /* position: relative; */
  border-radius: 50%;
  background: radial-gradient(white, 
    #fff, 35%, #ffffffcc, 55%, 
    #ffffff99, 75%, #ffffff66, 85%, 
    #ffffff33, 95%, #ffffff11, 96%,
    #ffffff01);
    box-shadow: 0 0 10px white;
}

