* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.holidayParticles {
  background-color: black;
  /* position: relative; */
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
}

.Christmas, .Halloween {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Christmas {
  background-image: url('./Photos//hotCocoa.jpg');
}
.Halloween {
  background-image: url('./Photos/moonWitch.jpg');
}

.backgroundParticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  color: white;
  background-color: #000000aa;
  position: relative;
  border: 2px solid red;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  /* flex: 1; */
  height: 10vh;
}
.doorImage {
  border: 2px solid blue;
  height: 70px;
  width: auto;
}






.holidayDisplay {
  border: 2px solid magenta;
  display: flex;
  flex: 1;
}

.clock {
  border: 2px solid blue;
  color: white
}