* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: valentine;
  src: url('./Fonts/Filxgirl.TTF')
}
@font-face {
  font-family: independence;
  src: url('./Fonts/fireworksKid.ttf')
}

@font-face {
  font-family: halloween;
  src: url('./Fonts/octoberCrow.ttf')
}

@font-face {
  font-family: thanksgiving;
  src: url('./Fonts/almondLatte.ttf')
}

@font-face {
  font-family: christmas;
  src: url('./Fonts/homeChristmas.otf')
}
@font-face {
  font-family: patricks;
  src: url('./Fonts/irishUNCI.ttf')
}

.holidayParticles {
  background-color: black;
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  color: white;
}

.Christmas,
.Halloween,
.Thanksgiving,
.Valentines,
.Independence,
.Patricks {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Christmas {
  background-image: url('./Photos/iceCrystal.jpg');
  font-family: christmas;
  color: red;
  text-shadow: 0 0px 10px black;
  -webkit-text-stroke: 0.2px black;
}
.Halloween {
  background-image: url('./Photos/moonWitch1.jpg');
  font-family: halloween;
  color: rgb(221, 255, 0);
  /* color: orange; */
  text-shadow: 0 0px 20px black;
  -webkit-text-stroke: 0.3px black;
}
.Thanksgiving {
  background-image: url('./Photos/autumnTable.jpg');
  font-family: thanksgiving;
  color: white;
  text-shadow: 0 0px 20px black;
  -webkit-text-stroke: 0.75px black;
}
.Valentines {
  background-image: url('./Photos/valentineHearts.jpg');
  font-family: valentine;
  color: #840a84;
  text-shadow: 0 0px 10px pink;
  -webkit-text-stroke: 0.5px black;
}
.Independence {
  background-image: url('./Photos/julyFirework.jpg');
  font-family: independence;
  color: white;
}
.Patricks {
  background-image: url('./Photos/coverFiield.jpg');
  font-family: patricks;
  color: gold;
  text-shadow: 0 0px 10px black;
  -webkit-text-stroke: 0.5px black;
}

.backgroundParticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  color: white;
  /* background-color: #000000aa; */
  position: relative;
  /* border: 2px solid red; */
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  gap: 4vh;
  /* flex: 1; */
  height: 12vh;
}

.doorImage {
  border: 2px solid black;
  height: 10vh;
  width: auto;
  box-shadow: 0 0 10px black;
}
.doorImage:hover {
  rotate: 10px;
}






.clock {
  /* border: 2px solid magenta; */
  /* color: white; */
  display: flex;
  flex-flow: column nowrap;
  /* flex: 1; */
  height: 70vh;
  margin-top: 6vh;
  /* margin-left: 5vw; */
  /* padding-top: 15vh; */
  /* justify-content: center; */
  align-items: flex-start;
  z-index: 0;

}

.holidayTitle {
  /* border: 2px solid blue; */
  width: 100%;
  height: 20vh;
  font-size: 12vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clockDisplay {
  /* border: 2px solid green; */
  margin: 5vh 0;
  display: flex;
  flex-flow: row wrap;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.timeBlock {
  /* border: 2px solid orange; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.unit {
  /* border: 2px solid red; */
  width: 80%;
  text-align: center;
  font-size: 7vh;
}

.time {
  /* border: 2px solid white; */
  width: 75%;
  height: auto;
  text-align: center;
  font-size: 12vh;
  /* position: relative; */
  /* border-radius: 50%;
  background: radial-gradient(white, 
    #fff, 35%, #ffffffcc, 55%, 
    #ffffff99, 75%, #ffffff66, 85%, 
    #ffffff33, 95%, #ffffff11, 96%,
    #ffffff01);
    box-shadow: 0 0 10px white; */
}




@media (max-width: 425px) {
  .holidayParticles {
    flex-flow: column-reverse nowrap;
  }
  
  .header {
    /* border: 2px solid red; */
    margin-top: 5vh;
    gap: 2vw;
    height: 11vh;
    flex: 1;
    align-items: flex-start;
  }
  .clock {
    /* border: 2px solid magenta; */
    flex: 1;
    margin-top: 4vh;  
  }
  .holidayTitle {
    /* border: 2px solid blue; */
    font-size: 16vw;
  }
  .clockDisplay {
    /* border: 2px solid green; */
    margin: 0vh 0;
  }
  .timeBlock {
    /* border: 2px solid orange; */
    width: 150px;
  }
  .unit {
    /* border: 2px solid red; */
    width: 100%;
    font-size: 12vw;
  }
  
  .time {
    /* border: 2px solid white; */
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 22vw;
    /* position: relative; */
    /* border-radius: 50%;
    background: radial-gradient(white, 
      #fff, 35%, #ffffffcc, 55%, 
      #ffffff99, 75%, #ffffff66, 85%, 
      #ffffff33, 95%, #ffffff11, 96%,
      #ffffff01);
      box-shadow: 0 0 10px white; */
  }
  
  
  
  
  
  
}

